*, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "lato" , sans-serif;
}

header{
    background: #1f2937;
    height: 90vh;
    padding-left: 200px;
}
header nav{
    display:  flex;
    justify-content: space-between;
    padding: 15px 0px;
}

header nav .nav-title {
    color: #f9faf8;
    margin: 10px 0px;
    font-size: 26px;
    font-weight: 800;
}
header nav .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav .nav-container li {
    margin: 20px;
    font-size: 18px;
    color: #e5e7eb;
    list-style: none;
}

/* hero section styles */
#hero-section {
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
    margin: 40px 0px;
}

#hero-section .hero-section_header{
    color: #f9faf8;
    font-weight: 900;
    font-size: 48px;
    max-width: 80%;
    width: 100%;
}
#hero-section .hero-section_paragraph {
    color: #e5e7eb;
    font-size: 18px;
    padding: 10px 0px;
    max-width: 80%;
    width: 100%;

}

#hero-section .hero-section_button {
    color: #e5e7eb;
    align-items: center;
    margin: 10px 0px;
     padding: 10px 35px;
     background-color: #3882f6;
     border-radius: 10px;
     border: none;
}

#hero-section .hero-section_image{
    max-width: 100%;
    overflow: hidden;
    padding: 0px 30px;
}

/* other section styles  */
.info {
    height: 90vh;
}
.info_title {
    font-weight: 900;
    font-size: 38px;
    color: #1f2937;
    text-align: center;
    padding: 30px;
    margin: 25px;
}

.info-details {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.info-details .info-details_specs {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-content: space-between;
}

.info-details .info-details_specs img{
   max-width: 100%;
   width: 100vw;
   height: auto;
   overflow: hidden;
   padding: 0px 10px;
   margin-bottom: 20px;
   
}
.info-details .info-details_specs p{
    text-align: center;
    font-size: 16px;
    font-weight: 300;
 }

/* testimony section styles  */
.testimony {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: #e5e7eb;
}
.testimony .testimony-paragraph {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
    max-width: 75%;
    width: 100vw;
    line-height: 1.4;
    padding: 10px 40px;
}

.testimony .testimony-author, span {
    font-weight: 600;
    padding-left: 100px;
    margin-left: 20px;
    font-size: 20px;
}
























